*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    text-align: center;
    padding: 15px;
}

.presentation{
    max-width: 600px;
    margin-top: 10px;
    background-color: #494;
    padding: 1rem;
}

.presentation P {
    color: #fff;
}

.presentation p span{
    font-weight: 700;
}